.mainContent {
  width: 100%;
  height: 100vh;
  display: flex;
  user-select: none;
}
.leftContent {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 60px;
}
.heroHolder {
  width: 100%;
  padding: 10px 20px;
}
.captionHolder,
.buttons {
  width: 100%;
  padding: 10px 20px;
}
.heroName {
  font-size: 48px;
  font-weight: bold;
}
.caption {
  font-size: 24px;
  font-weight: 500;
}
.fancy {
  font-style: oblique;
  color: crimson;
}
.buttons {
  display: flex;
  gap: 30px;
}
.buttons .login,
.buttons .signup,
.submitbutton {
  padding: 8px 16px;
  border: 2px solid var(--secondary);
  color: var(--secondary);
  background-color: var(--primary);
  box-shadow: 0 0 4px var(--secondary);
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
.buttons .login:hover,
.buttons .signup:hover,
.submitbutton:hover {
  color: var(--primary);
  background-color: var(--secondary);
  box-shadow: 0 0 4px var(--primary);
  cursor: pointer;
}
.rightContent {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

.form .loader {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-width: 4px;
}

.form {
  padding: 40px 30px;
  border: 2px solid var(--secondary);
  color: var(--secondary);
  background-color: var(--primary);
  box-shadow: 0 0 4px var(--secondary);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.form .title {
  padding: 4px 8px;
  font-size: 28px;
  font-weight: bold;
}

.form input {
  width: 250px;
  height: 40px;
  padding: 0 8px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid var(--secondary);
  color: var(--secondary);
}

@media screen and (max-width: 900px) {
  .mainContent {
    flex-direction: column;
  }
  .leftContent,
  .rightContent {
    width: 100%;
  }
  .leftContent {
    padding: 0;
  }
  .heroHolder,
  .captionHolder,
  .buttons {
    display: flex;
    justify-content: center;
  }
  .caption {
    font-size: 20px;
  }
}
